# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C environments & virtualenvs
.env
.venv/
env/
venv/
ENV/

# Database SQLite journal temp files
data/exam_db.sqlite-journal
data/exam_db.sqlite-wal
data/exam_db.sqlite-shm

# Logs
*.log
logs/

# IDE & OS files
.vscode/
.idea/
Thumbs.db
scratch/
*.exe
cloudflared.exe